html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
}
#titulo{
    font-size: 30px;
    font-weight: bold;
    font-family: "League Spartan", sans-serif;
    color: black;
    margin-top: 150px;
    margin-left: 50px
}
#button{
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 150px;
}
.buttonClose{
    background-color: white;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100px;
}
.buttonClose.btn-secondary {
    cursor: not-allowed !important;
    opacity: 0.85;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
    color: white;
} 
.card-body {
    transition: transform 0.3s ease-in-out;
}

.card-body:hover {
    transform: scale(1.1);
}
#button:hover {
    background-color:rgb(27, 84, 168);
    color: white;
    
}