/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

#preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#preloader .logo {
    width: 100px;
    height: auto;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 300;
}

main {
    box-sizing: border-box;
    width: calc(100% - 250px); 
    margin-left: 200px; 
    min-height: 100vh;
}
header {
    position: fixed;
    top:0;
    padding-right: 25vh;
    left: 0vh;
    margin-left: 0;
    width: 100%;
    z-index: 1000; 
    right: 250vh;
}

aside {
    position: fixed;
    top: 0px; 
    padding-left: 0;
    height: 100%;
    z-index: 2000;
    height: 100%;
}
#card {
    background-color: #192E4E;
    transition: transform 0.3s ease-in-out;
    color: white;
}

#card:hover {
    transform: scale(1.1);
}
#fechaLimiteDashboard{
    font-size: 22px;
    color: white;
}
#totalMaterias{
    font-size: 22px;
    color: white;
}
#totalAlumnos{
    font-size: 22px;
    color: white;
}
#totalDocentes{
    font-size: 22px;
    color: white;
}
#tittleMenu {
    font-size: 18px;
    color: black;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
}
#subtittleMenu{
    font-size: 18px;
    color: black;
    font-family: "League Spartan", sans-serif;
}
#calendar {
    height: 75vh;
    width: 100%;
    margin-top: 0;
}

.fc .fc-toolbar-title {
    font-size: 30px; 
    text-align: center; 
    justify-content: center;
}


#login {
    height: 8dvh; 
    display: flex; 
    padding: 0;
}

#login-form{

    padding-left: 15vh;
}

#space {
    background-color: black;
    height: 100%; 
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
}
.container-fluid {
    height: auto; 
    width: 100%;
    padding-left: 25vh;
    max-width: 100%; 

}
.password-container {
    position: relative;
    width: 100%;
}

#password {
    width: 100%;
    padding-right: 40px; 
}

#eye-icon {
    width: 2vh;
    height: 2vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: #aaa;
}

#eye-icon:hover {
    color: #555;
}

#chart{
    padding-left: 0vh;
}

/*Azul - 192E4E
Gris - C1C1C1
Blanco - FFFFFF
Negro - 000000*/
